* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    height: 100%;
    background-color: #005e52;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    max-width: 1280px;  
    padding: 20px;
    margin: 0 auto;
}

form {
    max-width: 100%;
    padding: 60px;
    border-radius: 40px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    font-size: 2rem;
}

.hidden {
    display: none;
}

hr {
    margin: 20px 0px;
    border: 1px solid #fff;
}

h2 {
    margin-top: 0;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row, .sixth-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.first-row {
    gap: 50px;
}

.second-row {
    gap: 40px;
}

.third-row, .fourth-row {
    gap: 30px;
}

.fifth-row {
    gap: 50px;
}

.sixth-row {
    gap: 40px;
}

.nomeDesc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload-imagem {
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    position: relative;
}

.nome-campanha, .descricao-campanha {
    font-size: 1.1rem;
    padding: 10px;
    background-color: #006c5b;
    border-radius: 8px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
    margin: 0 auto;
}

.cartoes, .mecanica, .categorizacao, .premio, .limiteCashback, .dataInicio, .estabelecimentosComerciais, .dataTermino, .MCCS, .modosEntrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 100%;
}

.cartoesTitle, .mecanicaTitle, .categorizacaoTitle, .premioTitle, .limiteCashbackTitle, .dataInicioTitle, .estabelecimentosComerciaisTitle, .dataTerminoTitle, .MCCSTitle, .modosEntradaTitle {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.cartoesCampanha, .mecanicaCampanha, .categorizacaoCampanha, .premioCampanha, .limiteCashbackCampanha, .dataInicioCampanha, .estabelecimentosComerciaisCampanha, .dataTerminoCampanha, .MCCSCampanha, .modosEntradaCampanha {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    background-color: #006c5b;
    border-radius: 8px;
}

.MCCSCampanha, .modosEntradaCampanha {
    height: 80px;
    overflow-y: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.salvar_continuar {
    width: 70%;
    height: 44px;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.5s ease;
}

.salvar_continuar:hover {
    background-color: #f5f5dc;
    color: black;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    background-color: #00796b;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #004d40;
}

.hidden {
    display: none;
}

.mensagem_sucesso {
    display: none; /* Inicialmente oculta */
    background-color: #4CAF50; /* Cor verde de sucesso */
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed; /* Fixa a posição na tela */
    top: 20%; /* Ajusta a posição para o topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para o centro */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que fique sobre outros elementos */
}
