/* Importing Google fonts - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(#f1faff, #cbe4ff); */
  background-color: #005e52;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 100;
  background: #151a2d;
  width: 270px;
  position: fixed !important;
  margin: 16px;
  border-radius: 16px;
  border-radius: 16px;
  height: calc(100vh - 32px);
  transition: 0.4s ease;
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar-header {
  position: relative;
  display: flex;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .toggler {
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  border: none;
  cursor: pointer;
  color: #151a2d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #fff;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar-header .toggler:hover {
  background: #dde4fb;
}

.sidebar-header .sidebar-toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  border-radius: 8px;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  transition: 0.4s ease;
  white-space: nowrap;
}

.sidebar-nav .nav-link:hover {
  color: #151a2d;
  background: #fff;
}

.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  background-color: #fff;
  color: #151a2d;
  padding: 6px 12px;
  border-radius: 8px;
  opacity: 0;
  display: none;
  pointer-events: none;
  position: absolute;
  left: calc(100% + 25px);
  top: -10px;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: 0.4s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

/* Tema Claro - Aplica apenas quando a classe light-theme está no body */
body.light-theme {
  background-color: #97e0a2; /* Claro */
}

body.light-theme .sidebar {
  background: #ddfff9; /* Claro */
}

body.light-theme .sidebar-header {
  background: #ddfff9; /* Escuro */
  color: #fff;
}

body.light-theme .toggler {
  background: #328d13; /* Escuro */
  color: #fff;
}

body.light-theme .sidebar-nav .nav-link {
  color: #151a2d; /* Escuro */
}

body.light-theme .sidebar-nav .nav-link:hover {
  color: #fff;
  background: #328d13;
}



@media (max-width: 1024px) {
  .sidebar {
    height: 56px;
    overflow-y: hidden;
    margin: 10px;
    scrollbar-width: none;
    width: calc(100% - 28px);
    max-height: calc(100vh - 28px);
  }

  .sidebar.menu-active {
    overflow-y: auto;
  }

  .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: #151a2d;
    padding: 8px 10px;
    border-radius: 16px;
  }

  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }

  .sidebar-header .sidebar-toggler,
  .sidebar-nav .nav-tooltip {
    display: none;
  }

  .sidebar-header .menu-toggler {
    display: flex;
    height: 30px;
    width: 30px;
  }

  .sidebar-header .menu-toggler span {
    font-size: 1.3rem;
  }

  .sidebar-nav .nav-list {
    padding: 0 10px;
  }

  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }

  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px;
  }
}
